<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> <div align="center"> <%= title %> </div> </h1>
    <p>Welcome to <%= title %></p>
	<%- youtubevideo %>
  </body>
</html>
