<!DOCTYPE html>
<html>
  <head>
       <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<li>visitors:<%=visitors%></li>   
	<li>count:<%=count%></li>   	
	<li>max:<%=max%></li>   	
	<li>win:<%=win%></li>   	


	
  </body>
</html>
