@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 50px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 6.5em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
/*used for images. still not working quite right*/
/*    .navbar-fixed-top .navbar-brand img{
        width: 50%;
        max-width: 50%

    }*/

    .navbar-fixed-top.navbar-shrink {
        padding: 2px 0;
    }

/* font in navbar */
    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 3.5em;

    }
    /*used for images. still not workign quite right*/
/*    .navbar-fixed-top.navbar-shrink .navbar-brand  img{
        width: 25%;
        max-width: 25%;
        height: 150px;
    }*/
}